@import '../../styles/variables.css';

.registration-container {
  max-width: 600px;
  margin: 42px auto;
  font-family: var(--font-primary);
  background: rgba(9, 19, 30, 0.72) !important;
  border-radius: 8px;
  border: 2px solid rgb(37, 49, 67);
  padding: 32px;
  box-shadow: 0 0.5em 1em -0.125em hsla(0deg, 0%, 100%,0.1),0 0px 0 1px hsla(0deg, 0%, 100%,0.02);
}

.section-registration input {
  background: rgba(9, 19, 30, 0.72) !important;
  border-color: #26303E !important;
}

.section-registration input:focus {
  border-color: #4258ff !important;
}

.registration-title {
  text-align: center;
  color: #fff;
}

.registration-form {
  background: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.registration-button {
  background-color: #C90F12;
  color: #fff;
}

.registration-login-text {
  text-align: center;
}

.registration-login-link {
  color: green;
  text-align: center;
}

@media (max-width: 1024px) and (min-width: 641px) {}
@media (max-width: 640px) {
  .registration-container {
    margin: 16px;
    padding: 24px 20px;
  }
  
  .registration-form {
    padding: 20px 20px 10px 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 0 !important;
  }

  .registration-button {
    width: 100%;
    margin-top: 10px;
  }

  .verify-form {
    text-align: center;
    margin-top: 16px;
  }

  .verify-label {
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 14px;
  }

  .verify-input {
    width: 215px;
  }

}