@import '../../styles/variables.css';

.section-registration {
  max-width: 600px;
  margin: 20px auto;
  font-family: var(--font-primary);
  background: rgba(9, 19, 30, 0.72) !important;
  border-radius: 8px;
  border: 2px solid rgb(37, 49, 67);
  padding: 32px;
  box-shadow: 0 0.5em 1em -0.125em hsla(0deg, 0%, 100%,0.1),0 0px 0 1px hsla(0deg, 0%, 100%,0.02);
}

.section-registration input {
  background: rgba(9, 19, 30, 0.72) !important;
}

.title {
  text-align: center;
}

.registration-form {
  background: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  color: var(--title-color);
}

.register-button {
  font-weight: 600;
}

@media (max-width: 1024px) and (min-width: 641px) {}
@media (max-width: 640px) {
  .section-registration {
    margin: 24px 24px;
    padding: 24px 8px;
  }
  
  .registration-form {
    padding: 20px 16px 0 16px !important;
  }

  .title {
    font-size: 28px;
    margin-bottom: 0 !important;
  }

  .login-link {
    text-align: center;
  }
}