@import '../../styles/variables.css';

.reset-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-container {
  min-width: 450px;
  font-family: var(--font-primary);
  background: rgba(9, 19, 30, 0.72) !important;
  padding: 40px 30px;
  border: 2px solid rgb(37, 49, 67);
  border-radius: 8px;
  box-shadow: 0 0.5em 1em -0.125em hsla(0deg, 0%, 100%,0.1),0 0px 0 1px hsla(0deg, 0%, 100%,0.02);
}

.reset-form {
  background: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reset-title {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.reset-button {
  padding: 10px;
  border: none !important;
  background-color: #C90F12;
  color: #fff;
}

.reset-button:hover {
  background-color: #A00B0E;
}

.reset-subtitle {
  font-weight: 16px;
  text-align: center;
}

.reset-form input {
  background: rgba(9, 19, 30, 0.72) !important;
}

.reset-back-btn {
  display: inline-block;
  text-align: center;
  margin-top: 14px;
  padding: 10px;
  width: 100%;
  background: #253143;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  transition: background 0.2s;
}

.reset-back-btn:hover {
  background: #e71014e3;
}

.auth-success {
  color: rgba(50, 238, 50, 0.789);
}

@media (max-width: 640px) {
  .reset-container {
    padding: 34px 30px;
  }

  .reset-title {
    margin-bottom: 20px !important;
  }

  .reset-container {
    min-width: 100%;
    margin: 24px;
  }

  .reset-button {
    margin-top: 14px;
    width: 100%;
  }
}