@import '../../styles/variables.css';

.hero-section {
  position: relative;
  width: 100%;
  height: 560px;
  background-image: url('../../Images/HeroImageDesktop.png');
  background-size: cover ;
  background-position: 200% right;
  background-repeat: no-repeat;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(2, 6, 10, 0.8) 0%,
    rgba(2, 6, 10, 0.0) 40%,
    rgba(2, 6, 10, 0.0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 48px;
}

.hero-box {
  max-width: 664px;
  color: var(--title-color);
}

.hero-title {
  font-family: var(--font-primary);
  font-weight: 800;
  font-size: 96px;
  line-height: 120%;
  margin-bottom: 12px;
}

.hero-text {
  color: var(--subtitle-color);
  font-family: var(--font-secondary);
  font-size: var(--subtitle-font-size);
  font-weight: var(--subtitle-font-weight);
  line-height: 150%;
  margin-bottom: 56px;
}

/* Tablet: ≤ 1024px , > 640px */
@media (max-width: 1024px) and (min-width: 641px) {
  .hero-section {
    height: 480px;
  }

  .hero-overlay {
    padding-left: 24px;
  }

  .hero-box {
    max-width: 370px;
  }

  .hero-title {
    font-size: var(--title-font-size-tablet);
  }

  .hero-text {
    font-size: var(--subtitle-font-size-tablet);
    margin-bottom: 32px;
  }

}

/* Mobile: ≤ 640px */
@media (max-width: 640px) {
  .hero-section {
    background-image: url('../../Images/HeroImageMobile.svg');
    height: 420px;
    background-position: left center;
  }

  .hero-overlay {
    padding-left: 20px;
  }

  .hero-box {
    padding-right: 50px;
    max-width: none;
  }

  .hero-title {
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 8px;
  }

  .hero-text {
    font-size: var(--subtitle-font-size-mobile);
    margin-bottom: 16px;
  }
}
