@import '../../styles/variables.css';

.barbers-section {
  margin-top: 120px;
}

.barbers-title {
  text-align: center;
  color: var(--title-color);
  font-family: var(--font-primary);
  font-size: 68px;
  font-weight: 700;
  margin-bottom: 48px;
}

.barbers-grid {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.barber-card {
  position: relative;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  overflow: hidden;
}

.barber-image {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.barber-card:hover .barber-image {
  transform: scale(1.05);
}

.barbers-swiper {
  display: none;
}

.barbers-cta {
  margin: 150px 0 164px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.barbers-cta-title {
  text-align: center;
  font-family: var(--font-primary);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 36px;
  color: #FFF;
}

@media (max-width: 768px) {
  .barbers-grid {
    grid-template-columns: 1fr;
  }

  .barber-card {
    max-width: 100%;
  }

  .barbers-cta {
    margin: 60px 0 60px 0;
  }

  .barbers-cta-title {
    margin-bottom: 24px;
  }
}


/* Tablet: ≤ 1024px , > 640px */
@media (max-width: 1024px) and (min-width: 641px) {
  .barbers-section {
    margin-top: 60px;
  }

  .barbers-title {
    font-size: var(--title-font-size-tablet);
    margin-bottom: 24px;
  }

  .barbers-grid {
    gap: 30px;
  }
}

/* Mobile: ≤ 640px */
@media (max-width: 640px) {
  .barbers-section {
    margin-top: 20px;
  }

  .barbers-title {
    font-size: var(--title-font-size-mobile);
    margin-bottom: 24px;
  }

  .barbers-grid {
    gap: 10px;
  }

  .barbers-grid {
    display: none;
  }
  .barbers-swiper {
    display: block;
    margin-bottom: 24px;
  }

  .barbers-cta-button-box {
    width: 100%;
  }

  .barbers-cta {
    margin: 40px 0 30px 0;
  }
}
