@import '../../styles/variables.css';

.confirm-wrapper {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-container {
  min-width: 450px;
  font-family: var(--font-primary);
  background: rgba(9, 19, 30, 0.72) !important;
  padding: 40px 30px;
  border: 2px solid rgb(37, 49, 67);
  border-radius: 8px;
  box-shadow: 0 0.5em 1em -0.125em hsla(0deg, 0%, 100%,0.1),0 0px 0 1px hsla(0deg, 0%, 100%,0.02);
}

.confirm-form {
  background: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.confirm-title {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.confirm-button {
  padding: 10px;
  border: none !important;
  background-color: #C90F12;
  color: #fff;
}

.confirm-button:hover {
  background-color: #A00B0E;
}

.confirm-form input {
  background: rgba(9, 19, 30, 0.72) !important;
}

.confirm-back-btn {
  display: inline-block;
  text-align: center;
  margin-top: 14px;
  padding: 10px;
  width: 100%;
  background: #253143;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  transition: background 0.2s;
}

.confirm-back-btn:hover {
  background: #e7101379;
}

.confirm-success {
  color: rgba(38, 190, 38, 0.789);
}

.confirm-error {
  color: #e71013;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 640px) {
  .confirm-container {
    padding: 34px 30px;
  }

  .confirm-title {
    margin-bottom: 20px !important;
  }

  .confirm-container {
    min-width: 100%;
    margin: 24px;
  }

  .confirm-button {
    width: 100%;
  }
}