@import '../../styles/variables.css';

.custom-form input,
.custom-form select,
.custom-form .box {
  background: rgba(9, 19, 30, 0.72) !important;
  color: #f5f5f5;
}

.custom-form {
  background: rgba(9, 19, 30, 0.985) !important;
  border: 2px solid rgb(37, 49, 67);
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  min-width: 476px;
  margin: 0 auto;
  padding: 22px;
}

.custom-form .buttons {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.custom-form input,
.custom-form select {
  border-color: #26303E;
}

#service-select,
#barber-select {
  width: 100% !important;
  font-family: var(--font-secondary);
}

.select:has(#barber-select) {
  width: 100% !important;
}

.select:has(#barber-select) option {
  height: 43px;
}

.addons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.addon-item {
  display: flex;
  align-items: center;
  background: #26303E;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
}

.label {
  color: #E9ECF1;
}

.addon-item input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border: 1px solid #333;
  border-radius: 50%;
}

.addon-item input[type="checkbox"]:checked::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
}

.addon-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.addon-name {
  font-weight: 600;
  color: #f5f5f5;
  flex: 1;
}

.addon-duration,
.addon-price {
  color: #ccc;
  white-space: nowrap;
  margin-left: 22px;
}

.addon-price {
  min-width: 60px;
  text-align: right;
}

.box .mt-4 {
  box-shadow: 0 0.5em 1em -0.125em hsla(0, 0%, 76%, 0.1),0 0px 0 1px hsla(0deg, 0%, 100%,0.02);
}

.total-label {
  font-weight: 700;
  color: #f5f5f5;
  margin-bottom: 8px;
}

.form-cancel-button {
  color: #d4d4d4;
  background-color: #C90F12;
  border: 1px solid #C90F12 !important;
  transition: all 0.15s ease-in-out;
}

.form-cancel-button:hover {
  color: #f5f5f5;
  background-color: #f6262a;
  border: 1px solid #d81e22 !important;
}

.form-submit-button {
  color: #d4d4d4;
  background-color: #2a5daf;
  border: 1px solid #3273dc !important;
  transition: all 0.15s ease-in-out;
}

.form-submit-button:hover {
  color: #f5f5f5;
  background-color: #3273dc;
  border: 1px solid #1d4ed8 !important;
}


/* Tablet: ≤ 1024px , > 640px */
@media (max-width: 1024px) and (min-width: 641px) {
  .custom-form {
    width: 100%;
    min-width: unset;
    max-width: unset;
    padding: 16px 20px;
    box-sizing: border-box;
  }

  .custom-form select,
  .custom-form .select,
  .custom-form .select select {
    width: 100%;
  }
}

/* Mobile: ≤ 640px */
@media (max-width: 640px) {
  .custom-form {
    width: 97%;
    min-width: unset;
    padding: 16 8px;
    margin-top: 60px;
    margin-bottom: 200px;
  }

  .buttons {
    display: flex;
    justify-content: space-between!important;
  }
}

/* #region datepicker styles */
.react-datepicker {
  min-width: 350px!important;
  background: rgb(38, 48, 62)!important;
  font-family: var(--font-secondary) !important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  border: 1px solid rgb(82, 87, 97) !important;
  border-radius: 8px !important;
  padding: 16px !important;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  z-index: 1000;
}

.react-datepicker__header {
  background: rgb(38, 48, 62)!important;
  color:#f5f5f5 !important;
  border-bottom: none !important;
  font-size: 24px;
}

.react-datepicker__current-month {
  color: #f5f5f5 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px !important;
  font-weight: 600!important;
  padding: 16px !important;
  border-bottom: 1px solid rgb(156, 163, 175) !important;
  letter-spacing: 2px !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
  top: 20px!important;
  font-size: 24px !important;
}
.react-datepicker__navigation--previous:hover,
.react-datepicker__navigation--next:hover {
  color: rgba(37,49,67,0.8);
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  padding: 16px !important;
}
.react-datepicker__day-name {
  color:#f5f5f5 !important;
  font-size: 16px;
  font-weight: 600;

}

.react-datepicker__month {
  margin: 0 !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__day {
  width: 40px !important;
  height: 40px !important;
  color: #f5f5f5 !important;
  font-family: var(--font-secondary) !important;
  font-size: 16px!important;
  line-height: 150%!important;
  padding: 8px !important;
  margin: 0 !important;
}
.react-datepicker__day:hover {
  background: #3273dc !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f5f5f5 !important;
  color: #000 !important;
}

.react-datepicker__day--disabled {
  opacity: 0.3;
}

.custom-form .react-datepicker__input-container input,
.input.react-datepicker-ignore-onclickoutside {
  background: rgba(9, 19, 30, 0.72) !important;
  color: #f5f5f5 !important;
  border: 1px solid rgb(37, 49, 67) !important;
  border-radius: 4px;
  padding: 0.5rem 0.75rem !important;
  height: auto !important;
}

.react-datepicker__input-container svg {
  fill: #f5f5f5;
}
/* #endregion datepicker styles */
