@import '../../styles/variables.css';

.section-login {
  /* max-height: 100vh; */
  height: 100%;
}

.section-login input {
  color: #fff !important;
  background: rgba(9, 19, 30, 0.72) !important;
  border-color: #26303E !important;
}

.section-login input:focus {
  border-color: #4258ff !important;
}

.login-container {
  max-width: 600px;
  margin: 42px auto;
  font-family: var(--font-primary);
  background: rgba(9, 19, 30, 0.72) !important;
  padding: 32px;
  border: 2px solid rgb(37, 49, 67);
  border-radius: 8px;
  box-shadow: 0 0.5em 1em -0.125em hsla(0, 0%, 100%, 0.06),0 0px 0 1px hsla(0deg, 0%, 100%,0.02);
}

.login-form {
  background: none !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-title {
  text-align: center;
  color: #fff;
}

.login-button {
  background-color: #C90F12;
  color: #fff;
}

.login-button:hover {
  background-color: #A00B0E;
}

.login-subtitle {
  font-weight: 16px;
  text-align: center;
}

.login-link {
  color: green;
}

.reset-password-subtitle {
  font-weight: 500;
  text-align: center;
  margin-top: 8px;
}

.reset-password-link {
  color: rgb(213, 16, 16);
  border-bottom: 1px solid rgb(118, 32, 32);
}

@media (max-width: 1024px) and (min-width: 641px) {}
@media (max-width: 640px) {
  .login-container {
    margin: 24px 16px 0 16px;
    padding: 24px 20px;
  }

  .login-button {
    margin-top: 10px;
    width: 100%;
  }
}